@import '../styles/abstracts/abstracts';

$buttonShadow: -5px -5px 15px #FFFFFF, 5px 5px 15px rgba(55, 84, 170, 0.1), inset 5px 5px 15px rgba(255, 255, 255, 0.3);

:root {
  --primary: $backgroundGrey;
  --danger: red;
  --warning: yellow;
  --success: limegreen;
  --white: #fdfdfd;
  --dark: #484A4F;
}

.btn {
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px;
  box-shadow: none;
  cursor: pointer;
  text-decoration: none;
  transition: box-shadow 300ms ease-in-out;
  > * {
    color: inherit;
    text-decoration: none;
  }
}

.btn:hover {
  box-shadow: $buttonShadow;
  transition: box-shadow 200ms ease-in-out;
}

.btn__primary {
  &__solid {
    background-color: var(--primary);
    color: var(--dark);
    border: 1px solid rgba(0, 0, 0, 0.02);
  }
}

.btn {
  &__small {
    padding: 12px;
  }
  &__medium {
    padding: 18px;
  }
  &__large {
    padding: 20px 30px;
  }
}


